body {
    text-align: center;
    background-color: #ffffff; /* Light blue background */
    color: #000000; /* Black text */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
  }
